body {
    background-image: url("https://www.wallpapertip.com/wmimgs/15-155504_initial-d-initial-d-ae86-drifting.jpg");
}
#headrr {
    text-align: center;
    color: white;
    font-size: 50px;
}
#descrip {
    color: white;
    font-size: 20px;
    text-align: center;
}
#counter {
    color: white;
    font-size: 25px;
}