.inventory {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
    
}
.inventory_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h2 {
    text-align: center;
}